<!-- <app-navbar></app-navbar>
<p>{{message}}</p>
<app-post [parentMessage]="parentMessage" (messageEvent)="reciveMessage($event)"></app-post>

<h5>{{fromChildOutPut}}</h5> -->

<!-- <h1 [style.color]="bool? 'red': 'blue' ">some text </h1>
<input type="text" (keyup.enter)="keyUp(username)" #username>

<input type="text" [(ngModel)] ="userName"  (keyup.enter)="keyUpNgModel()" > -->

<!-- <div style="margin-top: 50px; text-align: center">
  <h1>Post form</h1>
  <input type="text" [(ngModel)]="title" /><br /><br />

  <textarea type="textarea" [(ngModel)]="description"></textarea><br /><br />

  <input
    type="text"
    placeholder="Post image url"
    [(ngModel)]="imageUrl"
  /><br /><br />

  <input placeholder="Post Url" [(ngModel)]="postUrl" /><br /><br />

  <input type="checkbox" [(ngModel)]="isChecked" /><span>Add Background</span
  ><br /><br />
</div>

<div style="margin-top: 50px; text-align: center">
  <img [src]="imageUrl" />
  <h1 [class.background]="isChecked">{{ title }}</h1>
  <h1>{{ description }}</h1>

  <a
    [href]="postUrl"
    target="_blank"
    [style.display]="postUrl ? 'block' : 'none'"
  >
    More Details</a
  >
</div>

<p>{{ postArray }}</p>

<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<p>Fetching Object Array</p>

<button (click)="addNewData()">Add new Data</button>

<div *ngIf="objArray.length > 0; then template else dataMissed">
  
</div>

<ng-template #template>
  <ul>
    <li *ngFor="let post of objArray; let i = index">
      {{ post.postTitle }}
      <button (click)="delete(i)">Delete</button>
    </li>
  </ul>
</ng-template>

<ng-template #dataMissed>
  <p>There isnot data in Array</p>
</ng-template> -->
<!-- <div>
  <button>1</button>
  <button>2</button>
  <button>3</button>
 <div [ngSwitch]="status">
  <div *ngSwitchCase="'color1'">1 Form</div>
  <div *ngSwitchCase="'color2'">2 Form</div>
  <div *ngSwitchCase="'color3'">3 Form</div>
  <div *ngSwitchDefault="'r3'">3 Form</div>
</div> 

<h3
  [ngStyle]="{
    color: isChecked ? 'red' : 'black'
  }"
>
  Something
</h3> -->

<!-- <div style="margin-top: 50px; text-align: center">
  <h1>Post form</h1>
  <input type="text" [(ngModel)]="name" placeholder="Name" /><br /><br />

  <input [(ngModel)]="address" placeholder="Address" /><br /><br />

  <textarea type="textarea" [(ngModel)]="email" placeholder="Email"></textarea
  ><br /><br />

  <button (click)="addDataToTable()">Save Data</button>
  <br />
</div>
<div>
  <br /><br />
  <table *ngIf="tableContent.length > 0" style="position: absolute; left: 35%">
    <thead>
      <tr>
        <th style="border: 1px solid">name</th>
        <th style="border: 1px solid">email</th>
        <th style="border: 1px solid">address</th>
        <th style="border: 1px solid">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of tableContent; let i = index">
        <td style="border: 1px solid">{{ content.name }}</td>
        <td style="border: 1px solid">{{ content.address }}</td>
        <td style="border: 1px solid">{{ content.email }}</td>
        <td style="border: 1px solid">
          <button (click)="deleteUserContentById(i)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h3> {{someText | append : 10}}</h3> -->
<!-- 
<div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input
          id="fullName"
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="fullName"
          ngModel
          #fullName='ngModel'
          (change)="getFullNameValue(fullName)"
          required
          minlength="5"
          maxlength="10"
          [ngClass]="{ 'is-invalid' : fullName.touched && fullName.invalid}"
        />

        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid" >
          <div *ngIf="fullName.errors?.['required']"> Required</div>
          <div *ngIf="fullName.errors?.['minlength']"> Lenght < 5 </div>

        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label><br />
        <input
          id="email"
          type="text"
          class="form-control"
          placeholder="Email"
          name="email"
          ngModel
          #email="ngModel"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
        />
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea
          id="address"
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="address"
          ngModel

          ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div> -->
<
<div class="container mt-5">
  <div class="form-area">
    <form [formGroup]="form" (ngSubmit)="onSubmitForReactivForm()">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input
          id="fullName"
          type="text"
          name="fullName"
          placeholder="Full Name"
          class="form-control"
          formControlName="fullName"
        />
        <div
          class="alert alert-danger"
          *ngIf="form.get('fullName').touched && form.get('fullName').invalid"
        >
          <div *ngIf="form.get('fullName').errors?.required">
            Full name is required
          </div>
          <div *ngIf="form.get('fullName').errors?.minlength">
            Full Name should be at least 5 characters long
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label><br />
        <input
          id="email"
          type="text"
          class="form-control"
          placeholder="Email"
          name="email"
          formControlName="email"
        />
        <div
          class="alert alert-danger"
          *ngIf="form.get('email').touched && form.get('email').invalid"
        >
          <div *ngIf="form.get('email').errors?.required">
            Email is required
          </div>
          <div *ngIf="form.get('email').errors?.pattern">Invalid pattern</div>
        </div>
      </div>

      <div formGroupName = "contactDetails">
        <div class="form-group">
          <label for="address">Address</label>
          <textarea
            id="address"
            cols="30"
            rows="10"
            placeholder="Address"
            class="form-control"
            name="address"
            formControlName="address"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="Address.touched && Address.invalid"
          >
            <div *ngIf="Address.errors?.required">
              Address is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="shippingAddress">Shipping Address</label>
          <textarea
            id="shippingAddress"
            cols="30"
            rows="10"
            placeholder="Shipping Address"
            class="form-control"
            name="shippingAddress"
            formControlName="shippingAddress"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="
              ShippingAddress.touched &&
              ShippingAddress.invalid
            "
          >
            <div *ngIf="ShippingAddress.errors?.required">
              Address is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="contactNo">Contact Number</label><br />
          <input
            id="contactNo"
            type="text"
            class="form-control"
            placeholder="Contact Number"
            name="contactNo"
            formControlName="contactNo"
          />
          <div
            class="alert alert-danger"
            *ngIf="
             ContactNo.touched && ContactNo.invalid
            "
          >
            <div *ngIf="ContactNo.errors?.required">
              Contact is required
            </div>
            <div *ngIf="ContactNo.errors?.pattern">
              Invalid pattern
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  for="">Skills</label>
        <input type="text" class="form-control" #skill (keyup.enter)="addSkills(skill)">
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of Skills.controls; let i = index">
        {{skill.value}}
          <a class="btn btn-sm btn-danger" (click)="removeSkills(i)">X</a></li>
      </ul>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
